/* https://stackoverflow.com/questions/2182716/is-it-possible-to-set-the-equivalent-of-a-src-attribute-of-an-img-tag-in-css */

body{
	width: 100vw;
	height:100vh;
}

	

@media screen and (min-width: 1000px) {

	.kitten {
	
	content:url(images/kitten-large.png);
	
		}
		body{
			background-color: green;
}
}
	
@media screen and (max-width: 999px) {

	.kitten {
	
	content:url(images/kitten-medium.png);
	
		}
		body{
			background-color:pink;
}
}

@media screen and (max-width: 600px) {

	.kitten {
	
	content:url(images/kitten-small.png);
	
		}
		body{
			background-color:yellow;
}
}

@media screen and (max-width: 400px) {

	.popup {
	
	content:url(images/kittyloaf.gif);
	
		}
		body{
			background-color: purple;
}
}
	
