.yellow {
 background-color: yellow;
 width: 50%;
 height:20vh;
  display: inline-block;
}

.pink   {
 background-color: pink;
 width:25%;
 height:20vh;
 display: inline-block;
  
 
}
.orange {
 background-color: orange;
 width: 15%;
 height:20vh;
  display: inline-block;
}

.white  {
 background-color: white;
 width:50%;
 height:75vh;
 display: inline-block;
 border: 2px solid black;
  
 
}
.black  {
 background-color: black;
 width:40%;
 height:75vh;
 display: inline-block;
 border: 2px solid black;
  
 
}
